* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.poker-table {
  width: 90vw;
  max-width: 700px;
  height: 50vw;
  max-height: 350px;
  background-color: #1b5e20;
  border-radius: 1000px;    
  border: 12px solid #3e2723; 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5), inset 0 0 50px rgba(0, 0, 0, 0.4);
}
